*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: serif;
    height: 100vh;
    background-color: aqua;
}

.button{
    position: relative;
    padding: 15px 20px;
    font-size: 1.5rem;
    background-color: #ffffff;
    display:inline-block;
    text-decoration:none;
    color: #5c4800;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.75s;
}

.button:hover{
    letter-spacing: 0.1rem;
}

#newsletter{
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50% ,-50%);
    background-color: #ffffff;
    z-index: 1000;
    width: 450px;
    padding: 80px 50px 50px;
    transition: 0.5s;
    border-radius: 4px;
    visibility: hidden;
}

#newsletter.active{
    visibility : visible;
    top: 50%;
}

#newsletter h2{
    text-align: center;
    color: #5c4800;
    font-size: 24px;
    margin: 20px 10px;
}

#newsletter p{
    text-align: center;
    color: #5c4800;
}

#newsletter .box{
    position: relative;
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input, button{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px;
    outline: none;
    font-size: 1rem;
    font-family: serif;
}

button{
    border: none;
    cursor: pointer;
    width: 150px;
    letter-spacing: 0.1rem;
    background-color: blueviolet;
    color: #ffffff;
    border-radius: 4px;
}

.close{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 20px;
}